{% extends 'base.html.twig' %}

{% block title %}Partyübersicht{% endblock %}

{% block body %}
    <h1 class="mb-4 text-primary">Deine Partys</h1>

    <div class="row g-3">
        {% for membership in partyMemberships %}
            {% include 'home/_party_card.html.twig' with { 'membership': membership } %}
        {% else %}
            <div class="col-12">
                <div class="alert alert-info">
                    Du bist aktuell bei keiner Party eingetragen.
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
