{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1 class="text-primary">Hallo, Symfony mit Bootstrap!</h1>
        <p>Diese Seite nutzt Webpack Encore und Bootstrap.</p>
        <a href="#" class="btn btn-success">Klick mich</a>
    </div>
{% endblock %}
