<div class="d-grid gap-2">
    <a class="btn btn-primary" href="{{ path('party_action_response', { id: party.id }) }}">Zu-/Absage verwalten</a>
    <a class="btn btn-outline-secondary" href="{{ path('chat_room_self', { id: party.id }) }}">Nachricht an Host senden</a>
    
    {% if foodVotingGroup is not null %}
        <a class="btn btn-success" href="{{ path('app_food_voting', { id: foodVotingGroup.id }) }}">
            <i class="fa fa-utensils"></i> Essensplanung
        </a>
    {% endif %}
    
    <button class="btn btn-outline-success" disabled>Zum Shop (bald verfügbar)</button>
</div>
