<div class="list-group mt-3">
    {% for item in news %}
        <a href="{{ path('party_news_detail', {id: item.id}) }}" class="list-group-item list-group-item-action">
            <div class="d-flex flex-column">
                <h5 class="mb-1">{{ item.text|u.truncate(30, '...') }}</h5>
                <small class="text-muted mt-2">{{ item.createdAt|date('d.m.Y H:i') }}</small>
            </div>
        </a>
    {% else %}
        <p class="text-muted">Keine Nachrichten vorhanden.</p>
    {% endfor %}
</div>