{% extends 'base.html.twig' %}

{% block title %}Alle Nachrichten zu {{ party.title }}{% endblock %}

{% block body %}
    <h1 class="mb-4">Alle Nachrichten für {{ party.title }}</h1>

    {% if news is empty %}
        <div class="alert alert-info">
            Es gibt noch keine Nachrichten für diese Party.
        </div>
    {% else %}
        {% include 'party/_news_summary.html.twig' with { 'news': news } %}
    {% endif %}

    <a href="{{ path('party_show', {id: party.id}) }}" class="btn btn-secondary mt-4">
        Zurück zur Übersicht
    </a>
{% endblock %}
