{% extends 'base.html.twig' %}
{% block title %}Rechtliches{% endblock %}
{% block body %}
    <h1>Rechtliche Hinweise</h1>
    <p>Dies ist ein nicht-kommerzielles, privates Freizeitprojekt ohne Geschäftsabsicht.</p>
    <p>Alle Funktionen dienen ausschließlich zur privaten Nutzung im Freundeskreis. Es gibt keine kostenpflichtigen Features. Spenden sind freiwillig und haben keinen Einfluss auf Funktionen.</p>
    <p>Für Rückfragen: Kontakt über GitHub oder Projektbetreiber.</p>
{% endblock %}
