{% extends 'base.html.twig' %}
{% block title %}Datenschutz{% endblock %}
{% block body %}
    <h1>Datenschutzerklärung</h1>
    <p>Dies ist ein rein privates Freizeitprojekt zur Organisation von Geburtstagsfeiern.</p>
    <ul>
        <li>Gespeichert werden Name, Nutzername und Passwort (verschlüsselt).</li>
        <li>Verwendung technisch notwendiger Cookies: PHPSESSID, REMEMBERME</li>
        <li>Keine Weitergabe an Dritte, keine Tracking-Tools, keine Werbezwecke</li>
    </ul>
    <p>Bei Fragen oder zur Löschung des Kontos bitte Kontakt aufnehmen.</p>
{% endblock %}
